.container {
  overflow: hidden;
  height: 815px;
  border-radius: 32px;
  object-fit: cover;
  padding: 2rem 2.5rem;
  background-color: var(--backgroundColor2_dark);
  cursor: pointer;
  margin-bottom: 3rem;
}

.isSmall {
  height: 400px;
}

.title {
  margin-bottom: 0.8rem;
}

.subtitle {
  margin-bottom: 2.5rem;
}
