.container {
  /* border: 1px solid var(--brand-primary); */
  border-radius: var(--border-radius-2);
  background-color: var(--foreground);
  padding: var(--space-8) var(--space-5);
  list-style-type: none;
  cursor: pointer;
  transition: all ease 0.3s;
}

.title {
  font-weight: 500;
  margin-bottom: var(--space-4);
}

.subtitle {
  font-size: var(--font-size-3);
  margin: 0;
  color: var(--font-tertiary);
}

@media (min-width: 768px) {
  .container:hover {
    box-shadow: 0 0 0 var(--space-1) var(--background),
      0 0 0 var(--space-2) var(--font-primary);
  }
}
