.container {
  display: grid;
  column-gap: var(--space-5);
  row-gap: var(--space-8);
  grid-template-columns: 1fr minmax(auto, 1120px) 1fr;
  grid-template-rows: none;
  grid-auto-flow: row;
}

.breadcrumbs {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  grid-column: 2;
  margin: 0 0 var(--space-5);
}

.breadcrumb {
  list-style-type: none;
  margin-right: var(--space-1);
}

.breadcrumbText {
  color: var(--font-secondary);
  margin-left: var(--space-1);
  font-size: var(--font-size-2);
}

.breadcrumb:last-child {
  font-weight: 500;
}
