.button {
  margin: 0;
  border: none;
  cursor: pointer;
  font-weight: 700;
  padding: 0.8rem 2rem;
  /* border-radius: var(--border-radius-1); */
  /* background-color: var(--maximeheckel-colors-brand); */
  background-color: var(--accentColor2_dark);
  border-radius: 10px;
  /* color: hsla(var(--palette-gray-00), 100%); */
  color: var(--backgroundColor2_dark);
}

.isHollow {
  background-color: transparent;
  color: var(--accentColor2_dark);
  border: 2px solid var(--accentColor2_dark);
}

.isToggle {
  padding: 0;
  width: 48px;
}
