.button {
  margin: 0;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: var(--font-size-4);
  padding: var(--space-2) var(--space-3);
  background-color: var(--brand-primary);
  border-radius: var(--border-radius-0);
  border: 2px solid var(--brand-primary);
  color: var(--background);
}

.isHollow {
  background-color: transparent;
  color: var(--brand-primary);
}

.isToggle {
  padding: 0;
  width: var(--space-8);
  border-width: 0;
}
