.container {
  display: grid;
  column-gap: var(--space-5);
  grid-template-columns: 1fr minmax(auto, 1120px) 1fr;
  grid-auto-flow: row;
  padding: var(--space-5) 0;
  backdrop-filter: blur(10px);
  background-color: var(--background-80);
}

.navBar {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
}

.logoDiv {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: var(--space-7);
}

.title {
  font-size: var(--font-size-7);
}

@media screen and (min-width: 768px) {
  .title {
    /* font-size: 2rem; */
  }
}
