.mobileContainer {
  margin-bottom: var(--space-4);
}

.container {
  list-style-type: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-4);
  border-radius: var(--space-4);
  margin-bottom: var(--space-2);
}

.date {
  white-space: nowrap;
}

.dateTitle {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  margin-left: var(--space-4);
  font-size: var(--font-size-4);
}

.keywordsDesktop {
  display: none;
}

.keywordsMobile {
  display: flex;
  padding: 0;
  gap: var(--space-4);
  margin-left: var(--space-4);
  overflow: scroll;
}

.keywordsMobile {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.keywordsMobile::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.keyword {
  list-style-type: none;
  color: var(--accentColor2_dark);
  white-space: nowrap;
  font-size: var(--font-size-2);
}

.keyword:first-of-type {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: var(--font-size-5);
  }
}

@media screen and (min-width: 992px) {
  .mobileContainer {
    margin: 0;
  }

  .container {
    margin-bottom: var(--space-4);
  }

  .keywordsDesktop {
    display: flex;
    width: auto;
    gap: var(--space-4);
  }

  .keywordsMobile {
    display: none;
  }

  .keyword {
    font-size: var(--font-size-3);
  }
}
