.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  align-items: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.image {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-5);
  padding: var(--space-6) var(--space-5);
  background-color: var(--foreground);
  border-radius: var(--border-radius-0);
  box-shadow: 0 20px 30px -15px var(--background);
  width: 100%;
}

.title {
  font-size: var(--font-size-5);
}

.description {
  opacity: 0.8;
  margin: 0;
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-4);
}

.keyword {
  font-family: var(--font-mono);
  font-size: var(--font-size-1);
}

.ctas {
  display: flex;
  gap: var(--space-3);
}

/* @media screen and (min-width: 768px) {
  .container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
  }

  .imageContainer {
    grid-column: 1/8;
    position: relative;
    grid-area: 1 / 6 / -1 / -1;
  }

  .content {
    grid-column: 6/12;
    position: relative;
    background-color: transparent;
    grid-area: 1 / 1 / -1 / 7;
    padding: 0;
  }

  .description {
    background-color: var(--foreground);
    border-radius: var(--border-radius-0);
    box-shadow: 0 20px 30px -15px var(--background);
    padding: var(--space-6) var(--space-5);
  }
} */
