.container {
  background-color: var(--backgroundColor_dark);
  color: var(--fontColor_dark);
}

.main {
  min-height: 100vh;
  height: inherit;
  display: grid;
  column-gap: 20px;
  row-gap: 40px;
  grid-template-columns: 1fr minmax(auto, 1120px) 1fr;
  grid-template-rows: none;
  grid-auto-flow: row;
}

.main > * {
  grid-column: 2;
  line-height: 2;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  display: inline-block;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accentColor2_dark);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (min-width: 768px) {
  .main {
    /* row-gap: 100px; */
  }
}
