html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--backgroundColor_dark);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-display: fallback;
  font-size: clamp(0.7rem, 0.7rem + 5px, 1.5rem);
  color: var(--fontColor_dark);
}

:root {
  --backgroundColor_dark: rgb(15, 15, 31);
  --backgroundColor2_dark: rgb(5, 5, 32);
  --fontColor_dark: #ffffff;
  --fontColor2_dark: #d1d1bef1;
  --accentColor2_dark: #f5e23c;
  --accentColor3_dark: #c7b830;
}
