html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--backgroundColor_dark);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --backgroundColor_dark: rgb(15, 15, 31);
  --fontColor_dark: #ffffff;
  --accentColor_dark: rgb(5, 5, 32);
  --accentColor2_dark: rgb(245, 226, 60);
}
