.container {
  background-color: var(--background);
  color: var(--font-primary);
}

.main {
  height: inherit;
  display: grid;
  column-gap: var(--space-5);
  row-gap: var(--space-7);
  grid-template-columns: 1fr minmax(auto, 1120px) 1fr;
  grid-template-rows: none;
  grid-auto-flow: row;
}

.main > * {
  grid-column: 2;
}

.fourOFour {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fourOFourButtons {
  margin-top: var(--space-4);
  display: flex;
}

.fourOFourButtons > button {
  margin-right: var(--space-6);
}
.fourOFourButtons > button:last-of-type {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .main {
    row-gap: var(--space-12);
  }
}
