.container {
  background-color: var(--backgroundColor_dark);
  color: var(--fontColor_dark);
}

.main {
  min-height: 100vh;
  height: inherit;
  display: grid;
  column-gap: 20px;
  row-gap: 100px;
  grid-template-columns: 1fr minmax(auto, 1120px) 1fr;
  grid-template-rows: none;
  grid-auto-flow: row;
}

.main > * {
  grid-column: 2;
}

.header {
  display: flex;

  flex-direction: column;
}

.headerDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.headerDetailsButtons {
  display: flex;
}

.headerDetailsButtons > a {
  margin-right: 16px;
}

.twitter {
  margin-top: 1rem;
  color: var(--accentColor2_dark);
  font-weight: 600;
}

.twitter > div {
  border: 1px solid var(--accentColor2_dark);
}

.work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 60px;
  row-gap: 16px;
}

.about {
  background-color: var(--backgroundColor2_dark);
  grid-column-start: 1;
  grid-column-end: 4;
}

.about > div {
  padding: 0 1rem;
}

.footer {
  border-top: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 3rem 1rem;
  margin: 0 1rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (min-width: 768px) {
  .about {
    grid-column: 2;
  }
  .twitter {
    margin: 0;
  }
}
