.container {
  background-color: black;
  color: white;
}

.main {
  min-height: 100vh;
  height: inherit;
  display: grid;
  column-gap: 20px;
  row-gap: 100px;
  grid-template-columns: 1fr minmax(auto, 880px) 1fr;
  grid-template-rows: none;
  grid-auto-flow: row;
}

.main > * {
  grid-column: 2;
}

.header {
  display: flex;

  flex-direction: column;
}

.headerDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.headerDetailsButtons > a {
  margin-right: 16px;
}

.twitter {
  margin-top: 1rem;
}

.about {
  background-color: rgb(34, 150, 204);
  grid-column-start: 1;
  grid-column-end: 4;
}

.about > div {
  padding: 0 1rem;
  color: black;
}

.footer {
  border-top: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 3rem 1rem;
  margin: 0 1rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (min-width: 768px) {
  .about {
    grid-column: 2;
  }
  .twitter {
    margin: 0;
  }
}
