.container {
  background-color: var(--backgroundColor_dark);
  color: var(--fontColor_dark);
}

.main {
  min-height: 100vh;
  height: inherit;
  display: grid;
  column-gap: 20px;
  row-gap: 40px;
  grid-template-columns: 1fr minmax(auto, 1120px) 1fr;
  grid-template-rows: none;
  grid-auto-flow: row;
}

.main > * {
  grid-column: 2;
}

@media screen and (min-width: 768px) {
  .main {
    /* row-gap: 100px; */
  }
}
