.container {
  background-color: var(--backgroundColor_dark);
  color: var(--fontColor_dark);
}

.main {
  min-height: 100vh;
  height: inherit;
  display: grid;
  column-gap: var(--space-5);
  row-gap: var(--space-8);
  grid-template-columns: 1fr minmax(auto, 1120px) 1fr;
  grid-template-rows: none;
  grid-auto-flow: row;
}

.main > * {
  grid-column: 2;
}

.subtitle {
  margin-top: 1rem;
  font-weight: 400;
  font-size: var(--font-size-4);
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .main {
    /* row-gap: 100px; */
  }
}
