.list {
  padding: 0;
  margin-top: var(--space-5);
}

.list > h3 {
  font-size: var(--font-size-4);
  margin-bottom: var(--space-4);
}

@media screen and (min-width: 768px) {
  .list {
    font-size: var(--font-size-5);
  }
}
