.container {
  overflow: hidden;
  height: 600px;

  width: 100%;
  border-radius: 32px;
  object-fit: cover;

  background-color: var(--backgroundColor2_dark);
  cursor: pointer;
  margin-bottom: 3rem;
  position: relative;

  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.text {
  position: absolute;
  top: 2rem;
  left: 2.5rem;
  width: 75%;
  width: calc(100% - 5rem);
}

.isSmall {
  height: 600px;
}

.title {
  margin-bottom: 0.8rem;
}

.subtitle {
  margin-bottom: 2.5rem;
  line-height: 1.7rem;
  font-weight: 400;
}

@media screen and (min-width: 990px) {
  .isSmall {
    height: 420px;
  }

  .cover {
    padding: 2rem 2.5rem;
    width: 100%;
    height: 100%;
    z-index: 30;
    background-color: var(--cta-cover);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
  }
}
