.container {
  border: 1px solid var(--accentColor2_dark);
  border-radius: 16px;
  padding: 2rem 1.5rem;
  list-style-type: none;
  margin-bottom: 1rem;
  cursor: pointer;
}

.title {
  font-size: calc(1rem + 0.4vw);
}

.subtitle {
  font-size: calc(0.8rem + 0.2vw);
  font-weight: 400;
  margin: 0;
}
