.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-6);
}

.description {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.description > p {
  line-height: var(--font-size-7);
  font-weight: 400;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    gap: var(--space-10);
  }
}
