.about {
  background-color: var(--backgroundColor2_dark);
  border-radius: var(--border-radius-1);
  padding: var(--space-6) 0;

  display: grid;
  column-gap: var(--space-5);
  row-gap: var(--space-7);
  grid-template-columns: 1fr minmax(auto, 1120px) 1fr;
  grid-template-rows: none;
  grid-auto-flow: row;
}

.aboutDiv {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-6);
}

.description {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.description > p {
  line-height: var(--font-size-7);
  font-weight: 400;
  margin: 0;
}

.resumeButton {
  display: flex;
  justify-content: center;
}

.resumeButton > span {
  color: var(--backgroundColor2_dark);
  font-weight: 500;
  font-size: var(--font-size-5);
  margin-right: var(--space-2);
}

@media screen and (min-width: 768px) {
  .about {
    border-radius: var(--border-radius-2);
  }

  .description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    grid-column-gap: var(--space-10);
  }
}
