.about {
  background-color: var(--backgroundColor2_dark);
  grid-column: 1/4 !important;
  padding: 2rem 0;

  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  grid-template-columns: 1fr minmax(auto, 1120px) 1fr;
  grid-template-rows: none;
  grid-auto-flow: row;
}

.aboutDiv {
  grid-column: 2/3;
}

.description {
  margin-bottom: 2rem;
}

.description > p {
  line-height: 1.7rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    grid-column-gap: 60px;
  }
}
